
gainSlider/Builds/VisualStudio2019/x64/Debug/Shared Code/gainSlider.lib
SynthBasic/Builds/VisualStudio2019/.vs/SynthBasic/v16/Solution.VC.db
SynthBasic/Builds/VisualStudio2019/.vs/SynthBasic/v16/ipch/AutoPCH/76ac4a46b591002d/PLUGINPROCESSOR.ipch
gainSlider/Builds/VisualStudio2019/.vs/gainSlider/v16/Browse.VC.db
gainSlider/Builds/VisualStudio2019/.vs/gainSlider/v16/ipch/AutoPCH/61ffc7053e8ce738/PLUGINEDITOR.ipch
gainSlider/Builds/VisualStudio2019/.vs/gainSlider/v16/ipch/AutoPCH/a108c8d839fc7cb9/PLUGINEDITOR.ipch
gainSlider/Builds/VisualStudio2019/.vs/gainSlider/v16/ipch/AutoPCH/e480717549a22ea5/PLUGINPROCESSOR.ipch
Oscillator/Builds/VisualStudio2019/.vs/Oscillator/v16/Browse.VC.db
Oscillator/Builds/VisualStudio2019/.vs/Oscillator/v16/Browse.VC.opendb
Oscillator/Builds/VisualStudio2019/.vs/Oscillator/v16/ipch/AutoPCH/8d283f6bbb9150cb/PLUGINPROCESSOR.ipch
Oscillator/Builds/VisualStudio2019/.vs/Oscillator/v16/ipch/AutoPCH/b3d5ad47e261eb24/INCLUDE_JUCE_DSP.ipch
SynthBasic/Builds/VisualStudio2019/.vs/SynthBasic/v16/Browse.VC.db-wal
SynthBasic/Builds/VisualStudio2019/.vs/SynthBasic/v16/Browse.VC.opendb
SynthBasic/Builds/VisualStudio2019/.vs/SynthBasic/v16/Browse.VC.db
Oscillator/Builds/VisualStudio2019/x64/Debug/Shared Code/Oscillator.lib
Oscillator/Builds/VisualStudio2019/.vs/Oscillator/v16/ipch/AutoPCH/c279f49877a4bbcf/INCLUDE_JUCE_AUDIO_PLUGIN_CLIENT_STANDALONE.ipch
SynthBasic/Builds/VisualStudio2019/.vs/SynthBasic/v16/ipch/AutoPCH/6c48eef5e5f5c050/PLUGINEDITOR.ipch
SynthBasic/Builds/VisualStudio2019/x64/Debug/Shared Code/SynthBasic.lib
SynthBasic/Builds/VisualStudio2019/.vs/SynthBasic/v16/Browse.VC.db-wal
